{% load staticfiles %}
<!DOCTYPE html>
<HTML>

<head>
    <meta charset="UTF-8">
    <title>Billboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="{% static 'css/bill.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Anton|Pinyon+Script|Poiret+One" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>

    {% block content %}

    <h2>Billboard</h2>
    <div id="container">
    {% for bill in list_bills %}
        <div class="bill">
        <span class="date">{{ bill.date.date }}</span> <!-- bill es un diccionario de la lista y date es una key de ese diccionario, el valor se mostrara en el html-->
        <h3>{{bill.title}}</h3>
        <p>{{bill.content}}</p>
        <span class="author">{{bill.author}}</span>
    </div>
    {% endfor %}
    </div>


    <div id="form">
        <form method="POST" action="/"> <!--cuando action es igual a / el form me lleva a home page -->
        {% csrf_token %}
        {{ form }}
   </form>
    </div>


    <div id="new-bill">
        <div class="add">
            <span><i class="fa fa-plus"></i></span>

        </div>
        <div class="action">
             <span><i class="fa fa-check"></i></span>
             <span><i class="fa fa-times"></i></span>
        </div>
    </div>
    {% endblock %}

    <script src="{% static 'js/bill.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


</body>

</html>

